<form [formGroup]="useForm">
    <div class="mb-3 row">
        <label for="statisName" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <input
            formControlName="name"
            type="text" 
            class="form-control"
            name="statisName"
            [ngClass]="{'is-invalid':infoFormControInvalid('name')}"
            placeholder="Ingrese nombres del alumno">
            <div class="invalid-feedback">
                <ng-container *ngIf="infoFormControl('name').errors?.['required']">
                    Este campo es requerido
                </ng-container>
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="staticLastname" class="col-sm-2 col-form-label">Apellido</label>
        <div class="col-sm-10">
            <input
            formControlName="lastname"
            id="staticLastname"
            type="text" 
            class="form-control"
            [ngClass]="{'is-invalid':infoFormControInvalid('lastname')}"
            placeholder="Ingrese apellidos del alumno">
            <div class="invalid-feedback">
                <ng-container *ngIf="infoFormControl('lastname').errors?.['required']">
                    Este campo es requerido
                </ng-container>
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="statisAge" class="col-sm-2 col-form-label">Edad</label>
        <div class="col-sm-10">
            <input
            formControlName="age"
            id="statisAge"
            type="number"
            min="16"
            max="35"
            class="form-control"
            [ngClass]="{'is-invalid':infoFormControInvalid('age')}"
            placeholder="Ingrese edad del alumno">
            <div class="invalid-feedback">
                <ng-container *ngIf="infoFormControl('age').errors?.['required']">
                    Este campo es requerido
                </ng-container>
                <ng-container *ngIf="infoFormControl('age').errors?.['ageValidator']">
                    Edad ingresada no valida (16-35)
                </ng-container>
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="semester-alum" class="col-sm-2 col-form-label">Semestre</label>
        <div class="col-sm-10">
            <select class="form-select" id="semester-alum" formControlName="semester" [ngClass]="{'is-invalid':infoFormControInvalid('semester')}">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" >3</option>
                <option value="4">4</option>
                <option value="5" >5</option>
                <option value="6">6</option>
                <option value="7" >7</option>
                <option value="8">8</option>
                <option value="9" >9</option>
                <option value="10">10</option>
            </select>
            <div class="invalid-feedback">
                <ng-container *ngIf="infoFormControl('semester').errors?.['required']">
                    Este campo es requerido
                </ng-container>
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="condition-alum" class="col-sm-2 col-form-label">Condicion</label>
        <div class="col-sm-10" >
            <select class="form-select" id="condition-alum" formControlName="condition" [ngClass]="{'is-invalid':infoFormControInvalid('condition')}">
                <option value="Regular" >Regular</option>
                <option value="Retirado">Retirado</option>
            </select>
            <div class="invalid-feedback">
                <ng-container *ngIf="infoFormControl('condition').errors?.['required']">
                    Este campo es requerido
                </ng-container>
            </div>
        </div>
    </div>

    <button
    [disabled]="useForm.invalid"
    (click)="onSubmit()"
    class="btn btn-primary" 
    type="submit">Enviar</button>
</form>
