<mat-toolbar color="primary">
    <button (click)="toggleDrawer()" mat-icon-button class="example-icon" aria-label="Toggle sidenav">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="cursor: pointer;" routerLink="/home" fontSize20>Intranet</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>settings</mat-icon>
    </button>
</mat-toolbar>