<div class="container pt-5">
    <form [formGroup]="formLogin" class="card">
        <h5 class="card-header">Inicio de sesion</h5>
        <div class="card-body">
            <div class="mb-3 row">
                <label for="staticUser" class="col-sm-2 col-form-label">Usuario</label>
                <div class="col-sm-10">
                    <input type="text"
                    class="form-control"
                    id="staticUser"
                    placeholder="Ingrese el usuario"
                    formControlName="usuario"
                    [ngClass]="{'is-invalid':loginControlInvalid('usuario')}">
                    <div class="invalid-feedback">
                        <ng-container *ngIf="loginControl('usuario').errors?.['required']">
                            Este campo es requerido
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">contraseña</label>
                <div class="col-sm-10">
                    <input
                    type="password"
                    class="form-control"
                    id="inputPassword"
                    placeholder="Ingrese la contraseña"
                    formControlName="password"
                    [ngClass]="{'is-invalid':loginControlInvalid('password')}">
                    <div class="invalid-feedback">
                        <ng-container *ngIf="loginControl('password').errors?.['required']">
                            Este campo es requerido
                        </ng-container>
                    </div>
                </div>
            </div>
            <button
            [disabled]="formLogin.invalid"
            (click)="login()"
            class="btn btn-primary"
            type="submit">Ingresar</button>
            <div class="text-center text-danger" *ngIf="loginInvalid">
                ¡Datos incorrectos! Verifique el usuario o la contraseña
            </div>
        </div>
    </form>
</div>

<p class="text-center">
    Nota: <br> Usuario:<strong>usuario1</strong> Password:<strong>12345</strong> <br>Usuario: <strong>usuario2</strong> Password:<strong>54321</strong>
</p>