.main-content{
    display: grid;
    grid-template-columns: 18rem 1fr;
    grid-template-rows: 4rem 100vh;
    .content-alumn{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        .title-alum-content{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            border: 1px solid #111;
        }
        .alum-content{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            font-size: 20px;
            align-items: center;
            border: 1px solid #111;
        }
        .retirado{
            color: #fff;
            background-color: red;
        }
    }
}

